/*#region Reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*#endregion Reset*/

:root {

  /* colors */
  --clr-body: #808397;
  --clr-headings: #24303E;
  --clr-light: #A7AAAD;
  --clr-medium: #5B636D;
  --clr-white: #ffffff;

  /* inactive state is same color at 25% opactity */
  --clr-primary: #FAD400; 
  --clr-secondry: #FE7766;

  --clr-accent-light: #24554A;
  --clr-accent-dark: #052C3B;

  --clr-footer-icons: #458D7E;
  --clr-footer-logo: #2C7566;
  --clr-footer: #90D4C6;

  /* fonts */
  --ff-sans: 'Barlow', sans-serif;
  --ff-serif: 'Fraunces', serif;
  
  --fw-semibold: 600;
  --fw-bold: 700; /* only used for the contact button */
  --fw-black: 900;

  --fs-200: 14px;
  --fs-300: 15px;
  --fs-400: 16px;
  --fs-500: 18px;
  --fs-600: 20px;
  --fs-700: 28px;
  --fs-800: 32px;
  --fs-lg: 40px;
  --fs-xl: 56px;

  --lh-sm: 25px;
  --lh-m: 30px;
  --lh-lg: 32px;
  
  --ls-500: 1px;
  --ls-600: 5px;
  --ls-700: 8.75px;

}

/* utilities */

.flow > *:where(:not(:first-child))  {
  margin-top: var(--spacer, 1rem);
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.headings {
  font-family: var(--ff-serif);
  font-size: var(--font-size, var(--fs-800));
  font-weight: var(--fw-black);
  line-height: 39px;
  color: var(--font-clr, var(--clr-headings));
}

.button {
  display: inline-block;
  font-family: var(--ff-serif);
  font-size: var(--fs-300);
  font-weight: var(--fw-black);
  letter-spacing: var(--ls-500);
  color: var(--clr-headings);

  position: relative;
}

.button::after {
  content: "";
  width: 137px;
  height: 10px;
  border-radius: 28px;
  background-color: var(--line-clr, var(--clr-primary));
  opacity: .25;
  
  position: absolute;
  left: -8px;
  bottom: 3px;
  z-index: -1;
}

.button:hover::after,
.button:focus-visible::after {
  opacity: 1;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-semibold); 
  font-size: var(--fs-500);
  color: var(--clr-body); 
  background-color: var(--clr-white);
}

header {
  background-image: url('./images/mobile/image-header.jpg');
  background-size: cover;
  padding-inline: 24px;
  min-height: 538px;
}

.primary-nav {
  padding-block: 32px;
  justify-content: space-between;
}

.hero {
  --spacer: 55px;
  text-align: center;
  flex-direction: column;
}

.hero-title {
  --font-size: var(--fs-lg);
  --font-clr: var(--clr-white);
  margin-top: calc(88px - 32px);
  letter-spacing: var(--ls-600);
  text-transform: uppercase;
}

section {
  line-height: var(--lh-m);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-copy {
  --spacer: 24px;
  padding-block: 64px 24px;
  text-align: center;
  max-width: 339px;
}

.audience {
  --line-clr: var(--clr-secondry);
}

.img-articles {
  --font-size: var(--fs-700);
  min-height: 600px;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}

.img-articles .section-copy {
  padding-block: 59px;
  font-size: var(--fs-400);
  line-height: var(--lh-sm);
}

.design {
  background-image: url('./images/mobile/image-graphic-design.jpg');
  --font-clr: var(--clr-accent-light);
  color: var(--clr-accent-light);
}

.photography {
  background-image: url('./images/mobile/image-photography.jpg');
  --font-clr: var(--clr-accent-dark);
  color: var(--clr-accent-dark);
}

.testimonials {
  padding-inline: 24px;
}

.testimonials h2 {
  --font-size: var(--fs-400);
  --font-clr: var(--clr-light);
  letter-spacing: var(--ls-600);
  text-transform: uppercase;
  margin-block: 64px;
}

.testimonial {
  --spacer: 32px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 64px;
  color: var(--clr-medium);
}

.testimonial img {
  width: 72px;
  border-radius: 50%;
}

.testimonial-details {
  --font-size: var(--fs-500);
}

.details {
  font-size: var(--fs-200);
  color: var(--clr-light);
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: var(--clr-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 39px;
}

footer ul {
  width: 100%;
}

footer .logo {
  width: 170px;
  height: 33px;
  margin-bottom: 40px;
}

.footer-nav {
  margin-bottom: 88px;
}

.nav-list {
  justify-content: center;
}

.nav-list li {
  margin-inline: 26px;
}

.social-links {
  justify-content: center;
}

.social-links li {
  margin-inline: 14px;
}

.footer-nav a {
  color: var(--clr-footer-icons);
}














